body{
    background-color: black;
}

.background-esp{
    background-color: black;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}